@page "/"
@using Models
@using Interfaces
@using DM2BD.Typeahead
@inject IProgrammingProjectRepository ProgrammingProjectRepository
<h1>Hello, world!</h1>

Welcome to your new app.

<Typeahead ItemType="ProgrammingProject" DisplayAutocompleteDropdown="true" Filter="(async (x) => ProgrammingProjectRepository.GetProgrammingProjectsByTitle(x))" />
@*
<Typeahead ItemType="Game" DisplayAutocompleteDropdown="true" Selector="((Game x) => x.Title)" Text="Search:" Placeholder=""
                           Filter="(async (x) => GameService.GetGamesByTitle(x))" OnAutocomplete="((x) => { Games = x; StateHasChanged(); })" ResultsAreSame="true">
                    <AutocompleteDropdownItemTemplate Context="searchContext">
                        <div>@searchContext.Title</div>
                    </AutocompleteDropdownItemTemplate>
                    <SubmitButtonTemplate>
                        <span class="input-group-addon primary" style="height: 100%; width: auto; border-top-right-radius: 4px; border-bottom-right-radius: 4px;">
                            <i class="fa fa-search"></i>
                        </span>
                    </SubmitButtonTemplate>
                </Typeahead>    
*@
<div class="container">
    <div class="row">
        @foreach (ProgrammingProject programmingProject in ProgrammingProjectRepository.GetProgrammingProjects())
        {
            <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                <img style="max-width:100%; max-height:100%;" src="@programmingProject.ImageURL"/>
                @programmingProject.Title
            </div>
        }
    </div>
</div>