<div class="activeFilterItem" 
     style="background-color: cadetblue; padding: 5px; padding-left: 10px; 
            padding-right: 10px; border-radius: 30px;">
    <span style="border-right: 2px solid black; padding-right: 5px; cursor: pointer;" @onclick="RemoveFilter">X</span> <span>@DisplayText</span>
</div>