@if (!EndTour)
{
    @if (TourPart == 0)
    {
        <div class="tourGuideLargeScreen" style="">
            <div>
                Greetings!
            </div>
            <div>
                Would you like me to give you a tour?
            </div>
            <div>
                <div @onclick="(() => TourPart++)" class="btn btn-success">Yes</div>
                <div @onclick="(() => EndTour = true)" class="btn btn-danger">No</div>
            </div>
        </div>
    }
    @if (TourPart == 1)
    {
        <div class="tourGuideLargeScreenPartOne" style="">
            <div>
                This site shows all of the programming projects I've worked on.
            </div>
            <div>
                <div @onclick="(() => TourPart++)" class="btn btn-success">Next</div>
                <div @onclick="(() => EndTour = true)" class="btn btn-danger">End Tour</div>
            </div>
        </div>
        <div style="position: fixed;
            top: 38vh;
            left: 14vw;
            z-index: 2;
            font-size: 101px;">
            <span class="oi oi-arrow-right" aria-hidden="true"></span>
        </div>
    }
    @if (TourPart == 2)
    {
        <div class="tourGuideLargeScreenPartTwo" style="">
            <div>
                Here you can filter the grid of programming projects to your interests!
            </div>
            <div>
                <div @onclick="(() => TourPart++)" class="btn btn-success">Complete Tour</div>
                <div @onclick="(() => EndTour = true)" class="btn btn-danger">End Tour</div>
            </div>
        </div>
        <div style="position: fixed;
            top: 27vh;
            left: 16vw;
            z-index: 2;
            font-size: 251px;">
            <span class="oi oi-arrow-left" aria-hidden="true"></span>
        </div>
    }
}