<div class="tourGuideLargeScreen" style="">
    <div>
        Greetings!
    </div>
    <div>
        Would you like me to give you a tour?
    </div>
    <div>
        <div class="btn btn-success">Yes</div>
        <div class="btn btn-danger">No</div>
    </div>
</div>